{% extends '_layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ auth.name }}</span>
        You have signed in
      </h1>

      <span class="govuk-caption-m">{{ auth.organisationId }}</span>
      <h2 class="govuk-heading-m">Your organisation</h2>

    </div>
  </div>
{% endblock %}
